@model AspNetViewsCodeReuseExamples.Models.User

<table class="userDisplay">
    <tbody>
        <tr><td>Name</td><td>@Html.TextBoxFor(m => m.Name)</td></tr>
        <tr><td>Surname</td><td>@Html.TextBoxFor(m => m.Surname)</td></tr>
        <tr><td>Birthday</td><td>@Html.TextBoxFor(m => m.Birthday)</td></tr>
    </tbody>
</table>
