@model AspNetViewsCodeReuseExamples.ViewModels.PartialViewsViewModel

<h1>Partial Views</h1>

@if (Model.IsSpecialUser)
{
    @Html.Partial("../Shared/SpecialUser", Model.User)
}
else
{
    @Html.DisplayFor(m => m.User)
}