@model dynamic

<h1>Child action example</h1>

<div>
    @using (Html.BeginForm("Index", "ChildAction", FormMethod.Get))
    {
        <span>Search movies: </span>
        <input type="text" name="query" />
        <input type="submit" value="Search" />
    }
</div>

<div>
    @Html.Action("SearchMovies", "ChildAction", new { query = Model.Query })
</div>