@model AspNetViewsCodeReuseExamples.ViewModels.DisplayEditorTemplatesViewModel


<h2>Display templates examples</h2>

<h3>Display template for Boolean</h3>
@Html.DisplayFor(m => m.AreYouOk)

<h3>Display template for User class</h3>
@Html.DisplayFor(m => m.User)