@model AspNetViewsCodeReuseExamples.ViewModels.DisplayEditorTemplatesViewModel

<h2>Editor templates examples</h2>

@using (Html.BeginForm())
{
    <h3>Editor template for Boolean</h3>
    @Html.EditorFor(m => m.AreYouOk)

    <h3>Editor template for User class</h3>
    @Html.EditorFor(m => m.User)

    <div>
        <input type="submit" name="Save" value="Save" />
    </div>
}
