@model AspNetViewsCodeReuseExamples.IdmbComponent.Movie

<div class="movieContainer specialMovie">
    <div class="movieTitle">Title: @Html.TextBoxFor(m => m.Title)</div>
    <div>Description: @Html.TextAreaFor(m => m.Description)</div>
</div>
