@model AspNetViewsCodeReuseExamples.ViewModels.DisplayEditorTemplatesViewModel


<h1>Display templates examples</h1>

<h2>Display template for Boolean</h2>
@Html.DisplayFor(m => m.AreYouOk)

<h2>Display template for User class</h2>
@Html.DisplayFor(m => m.User)